*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.coords-heading, .speed{
    color: #fff;
    font-size: 2rem;
}
#img{
    position: relative;
    width: 400px;
    height: 400px;
}
#compass, #arrow{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
}
#arrow{
    transform: translate(-50%,-50%) scaleY(1.25);
}
.btn{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}